@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');

* {
    margin: 0vh;
    padding: 0vh;
    font-family: 'Esteban', serif;
}


.header {
    /* background-color: black; */
    /* color: white; */
    padding: 0%;
    position: sticky;
    position: -webkit-sticky;
    top: 0vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 15vh;
    background: rgba(255, 255, 255, 0.35);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: solid 2px #e8e8e8;
    margin-bottom: 5vh;
}

.footer {
    border-top: solid 2px #e8e8e8;
    margin: none;
    height: 20vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.card {
    width: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    border: solid .2vh lightgray;
    border-radius: .5vh;
    border-left: .4vh solid #2e2e2e;
    margin-bottom: 10vh;
    box-shadow: .4vh .4vh .8vh 0vh rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.7s;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

.line {
    width: .2vh;
    height: auto;
    background-color: lightgray;
    /* margin-left: auto; */
    margin-right: 2vh;
}

.date {
    margin-top: 2vh;
    font-size: 2vh;
    font-style: italic;
    color: rgb(167, 167, 167);
}

.title {
    font-size: 6vh;
    font-weight: bold;
}

.card_title {
    font-size: 4vh;
    margin-bottom: 2vh;
    font-weight: 1000;
    font-style: italic;
}

.card_title::first-letter {
    font-size: 6vh;
}

.meaning {
    display: flex;
    /* margin-left: auto; */
}

.summary {}

.content {
    font-size: 2.5vh;
    width: 69vh;
}

.inline {
    width: 100%;
    height: 2px;
    background-color: #bdbdbd;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}

/* mobile view less margin */
.end {
    font-size: 4vh;
}

.end_div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.credit {
    font-size: 3vh;
    /* font-style: italic; */
}


@media screen and (min-width: 1145px) {
    .meaning {
        opacity: 0;
        transition: ease-in-out 0.7s;
        /* display: none; */
    }


    /* .card:hover {
        width: 70vw;/
    }

    .card:hover .meaning {
        display: flex;
        opacity: 1;
    } */

}

@media screen and (max-width: 1144px) {
    .card {
        /* width: 80vw; */
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */

    }

    .meaning {
        display: none;
    }

    .line {
        display: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 90%;
        height: .3vh;
    }

    .content {
        width: 80vw;
    }

}

@media screen and (max-width: 500px) {
    .title {
        font-size: 35px;
    }

    .card {
        width: 80vw;
        border-radius: 5px;
    }
}