<!-- A website to showcase all my poems with their titles and their dates -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melancholic Melodies</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="{url_for('static', filename='style.css')}">
</head>

<body>
    <div class="header">
        <h1 class="title">Melancholic Melodies</h1>

    </div>
    {% for data in data['data'] %}
    <div class="card">
        <div>
            <h2 class="card_title">{{data['title']}}</h2>

            <p class="content">{%for line in data['content']%}
                {{line}}
                <br>
                {%endfor%}
            </p>
            <p class="date">{{data['date']}}</p>
        </div>
        <span class="line"></span>

        <div class="meaning">

            <div class="summary">
                <h2 class="card_title">Explaination</h2>
                <div class="inline"></div>
                <p class="content">
                    {{data['meaning']}}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="footer">
        <h1 class="title">Copyright &copy; 2024 melancholic melodies</h1>
    </div>
</body>

</html>